<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>

<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<title>Suministros Médicos</title>
</head>
<body>
	<div>
		<div class="row">

			<div class="col-lg-4">
			</div>
			<div class="col-lg-8">
				<h1>MEDICINE FOR ALL</h1>
				<h4>Suministros Médicos</h4>
				<div>
					<a class="btn btn-primary" href="/registro">Registro de producto</a>
					<a class="btn btn-default" href="/listado">Listado de productos</a>
					<a class="btn btn-warning" href="/data">Datatable de productos</a>
				</div>
			</div>
			<div class="col-lg-4">
			</div>
		</div>

	</div>
</body>
</html>